<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Tabla con Bootstrap</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Detalles Proyectos de Investigacion</a>
        </div>
    </nav>

    <div class="container mt-4">
        <button id="consultarDetalles" class="btn btn-primary">Detalles</button>
        <button id="regresar" class="btn btn-primary">Regresar</button>
        <table id="tablaDetalles" class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Objetivos</th>
                    <th>Resultados Obtenidos</th>
                    <th>Estudiantes</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
        document.getElementById("consultarDetalles").addEventListener("click", function () {
            let endpoint = '/Detalle';

            // Recuperar el códigoSemillero almacenado en sessionStorage
            var codProyecto = sessionStorage.getItem('codProyecto');
            console.log("enviado a axios proyecto detalle " + codProyecto);

            axios.get(endpoint + '?codProyecto=' + encodeURIComponent(codProyecto))
                .then(function (response) {
                    let data = response.data;
                    let tablaProyectos = document.getElementById("tablaDetalles").getElementsByTagName("tbody")[0];

                    // Limpia el contenido actual de la tabla
                    tablaProyectos.innerHTML = '';


                    // Itera a través de los datos y agrega filas a la tabla
                    for (let j = 0; j < data.Objetivos.length; j++) {
                        let row = tablaProyectos.insertRow();
                        let cellObjetivos = row.insertCell(0);
                        let cellResultadosOb = row.insertCell(1);
                        let cellEstudiantes = row.insertCell(2);

                        let objetivo = data.Objetivos[j];

                        // Areggar la lista a la tabla 
                        console.log(objetivo);

                        cellObjetivos.textContent = objetivo.descripcion;

                    }

                    // Itera a través de los datos y agrega filas a la tabla
                    for (let i = 0; i < data.ResultadosOb.length; i++) {
                        let row = tablaProyectos.insertRow();
                        let cellObjetivos = row.insertCell(0);
                        let cellResultadosOb = row.insertCell(1);
                        let cellEstudiantes = row.insertCell(2);
                        // Acceder a las listas desde el objeto "data"
                        let resultadosOb = data.ResultadosOb[i];


                        // Areggar las listas a la tabla 
                        console.log(resultadosOb);
                        cellResultadosOb.textContent = resultadosOb.descripcionOb;


                    }


                    // Itera a través de los datos y agrega filas a la tabla
                    for (let i = 0; i < data.Estudiantes.length; i++) {
                        let row = tablaProyectos.insertRow();
                        let cellObjetivos = row.insertCell(0);
                        let cellResultadosOb = row.insertCell(1);
                        let cellEstudiantes = row.insertCell(2);

                        // Acceder a las listas desde el objeto "data"
                        let estudiante = data.Estudiantes[i];


                        // Areggar las listas a la tabla 
                        console.log(estudiante);
                        cellEstudiantes.textContent = estudiante.nombre;


                    }


                })
                .catch(function (error) {
                    console.log(error);
                });
        });

        //Regresar
        document.getElementById("regresar").addEventListener("click", function () {
           // Redirigir a otra página Semilleros HTML
           window.location.href = 'Semillero';
        });
    </script>
</body>

</html>