<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Tabla con Bootstrap</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
 
</head>

<body>

    <header>
        <img class="logo" src="../static/img/escudo.png" alt="Logo universidad" id="logo">
        <h1 class="encabezado">SEGUIMIENTO DE SEMILLERO</h1>
    
    </header>

    <ul>
        <div class="palabra"></div>
        
        <div class="linea"></div>
    </ul>
    <div class="center-container"><button id="consultarDetalles" class="btn btn-primary">Detalles</button>
        <button id="regresar" class="btn btn-primary">Regresar</button>
        <button id="pdff" class="imprimir-btn">
            <img  class="impresora" src="../static/img/Descargar.png" alt="Impresora"> PDF
        </button>
    </div>
    

    <div id="pof" class="container mt-4">
        <table id="tablaDetalles" class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Objetivos</th>
                    <th>Resultados Obtenidos</th>
                    <th>Estudiantes</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        
        <table class="sheet">
            <tr>
                <td colspan="2">
                    <h4>SEGUIMIENTO DE LA ACTIVIDAD INVESTIGATIVA DE SEMILLEROS DE INVESTIGACION</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="section">
                        <p>Observaciones Generales:</p>
                    <textarea rows="5" cols="75" placeholder=""></textarea>
                    </div>

        
                </td>
               
            </tr>
            <td>
                <h5>Lider del Grupo</h5>
                <label class="form-label" for="firma">Firma Líder:</label>
                <input class="form-input" type="text" id="firma" name="firma" required>
            </td>
            <tr>
                <td>
                    <div class="section-box">
                        <h4>Registro de Trámite</h4>
                        <label class="form-label" for="nombre">Nombre:</label>
                        <input class="form-input" type="text" id="nombre" name="nombre" required>
                        <label class="form-label" for="fecha">Fecha:</label>
                        <input class="form-input" type="text" id="fecha" name="fecha" required>
                        <label class="form-label" for="firma">Firma:</label>
                        <input class="form-input" type="text" id="firma" name="firma" required>
                    </div>
                </td>
                <td>
                    
                    <div class="section-box">
                        <h4>Validación del Trámite</h4>
                        <table class="signature-table">
                            
                              <br><br><br><br><br><br>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="section-divider"></td>
            </tr>
        </table>



        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
        document.getElementById("consultarDetalles").addEventListener("click", function () {
            let endpoint = '/Detalle';

            // Recuperar el códigoSemillero almacenado en sessionStorage
            var codProyecto = sessionStorage.getItem('codProyecto');
            console.log("enviado a axios proyecto detalle " + codProyecto);

            axios.get(endpoint + '?codProyecto=' + encodeURIComponent(codProyecto))
                .then(function (response) {
                    let data = response.data;
                    let tablaProyectos = document.getElementById("tablaDetalles").getElementsByTagName("tbody")[0];

                    // Limpia el contenido actual de la tabla
                    tablaProyectos.innerHTML = '';


                    // Itera a través de los datos y agrega filas a la tabla
                    for (let j = 0; j < data.Objetivos.length; j++) {
                        let row = tablaProyectos.insertRow();
                        let cellObjetivos = row.insertCell(0);
                        let cellResultadosOb = row.insertCell(1);
                        let cellEstudiantes = row.insertCell(2);

                        let objetivo = data.Objetivos[j];

                        // Areggar la lista a la tabla 
                        console.log(objetivo);

                        cellObjetivos.textContent = objetivo.descripcion;

                    }

                    // Itera a través de los datos y agrega filas a la tabla
                    for (let i = 0; i < data.ResultadosOb.length; i++) {
                        let row = tablaProyectos.insertRow();
                        let cellObjetivos = row.insertCell(0);
                        let cellResultadosOb = row.insertCell(1);
                        let cellEstudiantes = row.insertCell(2);
                        // Acceder a las listas desde el objeto "data"
                        let resultadosOb = data.ResultadosOb[i];


                        // Areggar las listas a la tabla 
                        console.log(resultadosOb);
                        cellResultadosOb.textContent = resultadosOb.descripcionOb;


                    }


                    // Itera a través de los datos y agrega filas a la tabla
                    for (let i = 0; i < data.Estudiantes.length; i++) {
                        let row = tablaProyectos.insertRow();
                        let cellObjetivos = row.insertCell(0);
                        let cellResultadosOb = row.insertCell(1);
                        let cellEstudiantes = row.insertCell(2);

                        // Acceder a las listas desde el objeto "data"
                        let estudiante = data.Estudiantes[i];


                        // Areggar las listas a la tabla 
                        console.log(estudiante);
                        cellEstudiantes.textContent = estudiante.nombre;


                    }


                })
                .catch(function (error) {
                    console.log(error);
                });
        });

        //Regresar
        document.getElementById("regresar").addEventListener("click", function () {
           // Redirigir a otra página Semilleros HTML
           window.location.href = 'Semillero';
        });
    </script>
    <script src="../static/js/scrip.js"></script>
    <script src="../static/js/pdf.js"></script>
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

</body>

</html>